[ngcloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
body {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 30px;
}
canvas {
  cursor: none;
}
.header {
  margin-bottom: 30px;
}
.project {
  margin-bottom: 40px;
  height: 400px;
}
@media screen and (min-width: 650px) {
  .project {
    height: 490px;
  }
}
@media screen and (min-width: 650px) {
  .project {
    height: 490px;
  }
}
@media screen and (max-width: 440px) {
  .project {
    height: 350px;
  }
}
@media screen and (max-width: 280px) {
  .project {
    height: 400px;
  }
}
