[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important

body
  margin 0
  padding-bottom 60px
  padding-top 30px

canvas
  cursor none

.header
  margin-bottom 30px

.project
  margin-bottom 40px