[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important

.wg-mini-menu
  position fixed
  top 0
  left 0
  border-bottom-right-radius 5px
  font-size 0.8em
  .menu
    display inline-block
    color black
    opacity 0.3
    &:hover
      opacity 0.5
    &.open
      opacity 1

      &:hover
        opacity 1
    .button
      background rgba(255,255,255,0.5)
      border 1px solid black
      border-radius 3px
      cursor pointer
      padding 2px 5px
      margin 5px 0 0 5px
    .list
      position absolute
      top 100%
      background rgba(255,255,255,0.9)
      border 1px solid black
      border-radius 3px
      white-space nowrap
      margin-left 5px
      margin-top 3px
      padding 4px 0
      .list-item
        padding 4px 9px
        &:hover
          background rgba
        a:hover
          text-decoration none
          

