[ngcloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.wg-mini-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px !important;
  line-height: 16px;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  font-size: 0.8em;
}
.wg-mini-menu .menu {
  display: inline-block;
  color: #333;
  opacity: 0.3;
}
.wg-mini-menu .menu:hover {
  opacity: 0.5;
}
.wg-mini-menu .menu.open {
  opacity: 1;
}
.wg-mini-menu .menu.open:hover {
  opacity: 1;
}
.wg-mini-menu .menu .button {
  background: rgba(255,255,255,0.5);
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 5px;
  margin: 5px 0 0 5px;
}
.wg-mini-menu .menu .list {
  position: absolute;
  top: 100%;
  background: rgba(255,255,255,0.9);
  border: 1px solid #000;
  border-radius: 3px;
  white-space: nowrap;
  margin-left: 5px;
  margin-top: 3px;
  padding: 4px 0;
}
.wg-mini-menu .menu .list .list-item {
  padding: 4px 9px;
}
.wg-mini-menu .menu .list .list-item:hover {
  background: rgba;
}
.wg-mini-menu .menu .list .list-item a {
  color: #333;
  text-decoration: none;
}
.wg-mini-menu .menu .list .list-item a:hover {
  text-decoration: none;
}
