doctype html

html
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  head
    title Wilfred Godfrey
    link(rel="stylesheet" type="text/css" href="./css/index.css")
    link(rel="stylesheet" type="text/css" href="./css/bootstrap.css")
  body.container
    div(ng-app="bodyApp")
      .row.header
        .col-lg-12
          h2 Wilfred Godfrey
          | The late-night tomfoolery of a Javascript Developer
          br
          | Find me on <a href="http://github.com/wilfredjamesgodfrey" target="_blank">Github</a>,
          | <a href="http://twitter.com/wjagodfrey" target="_blank">Twitter</a>,
          | <a href="https://nz.linkedin.com/pub/wilfred-godfrey/68/364/97a/" target="_blank">LinkedIn</a>,
          | or send me an <a href="mailto:wilfred@wilfredgodfrey.com" target="_blank">Email</a>

      .row
        .wg_main_menu
          .col-xs-12
            .text-center Loading


    script(src='./js/analytics.js')
    script(src='./js/angular.js')
    script(src='./js/angular-sanitize.js')
    script(src='./js/index.js')
