.col-md-3.col-xs-6(ng-repeat="item in menuConfig").project
  a(ng-href="./{{item.url}}").thumbnail
    img(ng-src="./img/nav/{{item.img}}")
  h4 {{item.name}}
  div(ng-bind-html="item.description")
  em
    small(ng-bind-html="item.hint")