.wg-mininav.ng-cloak
  .menu(ng-class="{open:showProjects}")
    .button(ng-click="showProjects = !showProjects; showProject = false") <<
    .list(ng-show="showProjects")
      div.list-item(ng-repeat="item in menuConfig")
        a(ng-href="/{{item.url}}" title="{{item.description}}")
          {{item.name}}
  .menu(ng-class="{open:$parent.showProject}" ng-if="project")
    .button(ng-click="$parent.showProject = !$parent.showProject; $parent.showProjects = false") {{project.name}}
    .list(ng-show="$parent.showProject")
      .list-item
        div(ng-bind-html="project.description")
        em
          small(ng-bind-html="project.hint")