.wg-mininav.ng-cloak
  .menu(ng-class="{open:showProjects}")
    .button(ng-click="showProjects = !showProjects; showProject = false") <<
    .list(ng-show="showProjects")
      div.list-item(ng-repeat="item in menuConfig")
        a(ng-href="./{{item.url}}" title="{{item.description}}")
          {{item.name}}
  .menu(ng-class="{open:showProject}" ng-if="project")
    .button(ng-click="showProject = !showProject; showProjects = false") {{project.name}}
    .list(ng-show="showProject")
      .list-item
        div {{project.description}}
        em
          small {{project.hint}}